{% extends 'base.html.twig' %}

{% block body %}

    <section class="background-cv mt-4" id="cv">
        <div class="d-print-none">
            <div class="d-flex justify-content-end small"><a href="javascript: void(0);" onclick="window.print();"><i class="fas fa-download"></i> Télécharger la version PDF (par l'impression) !</a></div>
        </div>

        <div class="infos d-lg-flex d-md-flex d-sm-block justify-content-between">
            <div class="user-picture d-lg-flex d-md-block d-sm-block d-print-none">
                <img src="/uploads/pictures/{{ wilder.pictureFilename ?? 'user.png' }}" alt="profile-picture" class="profile-pic">
                <div class="cv-name-title mt-md-5">
                    <h3 class="pink-color">{{ wilder.firstname }} <span class="text-uppercase">{{ wilder.lastname }}</span> </h3>
                        {% if wilder.labelCv %}
                            <h4 class="blue-color"><i class="fas fa-code"></i> {{ wilder.labelCv.title }}</h4>
                        {% endif %}
                    <div class="d-print-none">
                        {% if wilder.isAdopted %}
                            <h5 class="fw-bold mt-1 badge bg-primary p-2 mt-2" id="cv-adopted"><i class="fas fa-times-circle"></i> Indisponible</h5>
                        {% else %}
                            <h5 class="fw-bold mt-1 badge bg-blue p-2 mt-2" id="cv-not-adopted"><i class="fas fa-check-circle"></i> Disponible</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- print version -->
            <div class="user-picture d-flex d-none d-print-flex">
                <img src="/uploads/pictures/{{ wilder.pictureFilename ?? 'user.png' }}" alt="profile-picture" class="profile-pic">
                <div class="cv-name-title mt-5">
                    <h3 class="pink-color">{{ wilder.firstname }} <span class="text-uppercase">{{ wilder.lastname }}</span> </h3>
                    {% if wilder.labelCv %}
                        <h4 class="blue-color"><i class="fas fa-code"></i> {{ wilder.labelCv.title }}</h4>
                    {% endif %}
                </div>
            </div>
            <!-- end print version -->
            <div class="group-infos">
                <div class="card-content">
                    <p><a class="text-center" href="{{ wilder.email|mailTo }}"><i class="fas fa-envelope-open-text mx-2"></i>{{ wilder.email }}</a></p>
                    {% if wilder.telephone %}
                        <p><i class="fas fa-phone-square-alt mx-2"></i>{{ wilder.telephone }}</p>
                    {% endif %}
                    {% if wilder.portfolio %}
                        <p><a target="_blank" href="{{ wilder.portfolio }}"><i class="fas fa-laptop mx-2"></i>Portfolio</a></p>
                    {% endif %}
                    <div class="social-buttons d-flex justify-content-around d-print-none">
                        {% if wilder.linkedin %}
                            <p><a target="_blank" href="{{ wilder.linkedin }}"><i class="fab fa-linkedin mx-2"></i>Linkedin</a></p>
                        {% endif %}
                        {% if wilder.github %}
                            <p><a target="_blank" href="{{ wilder.github  }}"><i class="fab fa-github mx-2"></i>Github</a></p>
                        {% endif %}
                        {% if wilder.twitter %}
                            <p><a target="_blank" href="{{ wilder.twitter }}"><i class="fab fa-twitter-square mx-2"></i>Twitter</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="background-cv mt-4 d-print-none" id="about">
        <div class="presentation-cv width-85 mx-auto">
            <h3 class="pink-color text-center text-capitalize">A propos</h3>
            <p class="add-new-line fst-italic mt-3">{{ wilder.presentation ?? 'Bonjour, je suis un Wilder motivé et compétent !' }}</p>
        </div>
    </section>

    <section class="background-cv mt-4" id="skills">
        <div class="skills">
            <h3 class="text-center mb-4 pink-color">Compétences</h3>
            <div class="skill-cv d-flex justify-content-around flex-wrap">
                {% for skill in wilder.skills %}
                    <img class="p-1" width="50px" src="{{ skill.url }}" alt="">
                {% endfor %}
            </div>
        </div>
    </section>
    <hr class="print-only">
    <section class="background-cv mt-4" id="experience">
        <div class="experiences px-md-5">
            <h3 class="text-center mb-4 pink-color">Expérience</h3>
            <div class="ex-cv">
                {% for experience in wilder.experiences %}
                    <div class="row">
                        <div class="col-lg-4 year-ex ">
                            <p class="fw-bold mt-1 badge bg-blue"><i class="far fa-calendar-check"></i> {{ experience.year }}</p>
                        </div>
                        <div class="col-lg-8 detail-ex">
                            <p class="fw-bold ex-title-cv gray-color"><i class="fas fa-angle-double-left blue-color"></i> {{ experience.title }} <i class="fas fa-angle-double-right blue-color"></i></p>
                            <p><span class="">{{ experience.company }}</span>, {{ experience.city }}</p>
                            {% if experience.description %}
                            <p class="add-new-line">{{ experience.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <hr class="print-only">
    <section class="background-cv mt-4" id="formation">
        <div class="education px-md-5">
            <h3 class="text-center pink-color mb-4">Formation</h3>
            <div class="school-cv">
                {% for education in wilder.educations %}
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="fw-bold mt-1 badge bg-blue"><i class="far fa-calendar-check"></i> {{ education.year }}</p>
                        </div>
                        <div class="col-lg-8">
                            <p class="fw-bold ex-title-cv gray-color"><i class="fas fa-angle-double-left blue-color"></i> {{ education.title }} <i class="fas fa-angle-double-right blue-color"></i></p>
                            <p><span class="fst-italic">{{ education.school }}</span>, {{ education.city }}</p>
                            {% if education.description %}
                                <p class="add-new-line d-print-none">{{ education.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <hr class="print-only">
    <section class="background-cv mt-4" id="projects">
        <div class="projects text-center px-md-5">
            <h3 class="pink-color mb-3">Mes Projets</h3>
                <div class="container d-print-none">
                    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-2 g-lg-5">
                        {% for project in wilder.projects %}
                        <div class="col">
                            <div class="position-relative card-project">
                                <img class="img-project card-img-top" src="/uploads/pictures/{{ project.pictureFilename }}" alt="screenshot-project">
                                {% if project.description %}
                                    <div class="techno-overlay">
                                        <p class="techno position-absolute">{{ project.description }}</p>
                                    </div>

                                {% endif %}
                            </div>
                            <div class="project-detail">
                                <p>{{ project.title }}</p>
                                {% if project.url %}
                                    <a class="badge bg-blue" target="_blank" href="{{ project.url }}"><i class="fas fa-link pe-2"></i>Lien projet</a>
                                {% endif %}
                                {% if project.github %}
                                    <a class="badge bg-blue" target="_blank" href="{{ project.github }}"><i class="fab fa-github pe-2"></i>Github</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            <!-- print version -->
            <div class="d-none d-print-block text-start">
                {% for project in wilder.projects %}
                    <div class="row mb-3 print-project">
                        <div class="col-sm-4">
                            <p class="fw-bold mt-1"><i class="fas fa-laptop-code pe-2"></i>{{ project.title }}</p>
                        </div>
                        <div class="col-sm-8">
                            {% if project.description %}
                                <p class="techono-print mt-1 fw-bold">{{ project.description }}</p>
                            {% endif %}
                            {% if project.github %}
                                <a href="{{ project.github }}"><i class="fab fa-github pe-2"></i>{{ project.github }}</a><br>
                            {% endif %}
                            {% if project.url %}
                                <a href="{{ project.url }}"><i class="fas fa-link pe-2"></i>{{ project.url }}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- end print version -->
        </div>
    </section>

{% endblock %}
