{% extends 'base.html.twig' %}

{% block title %}Mes formations{% endblock %}

{% block body %}
    <div class="container my-5 min-h-mobile" style="min-height: 400px">
        <div class="table-education">
            <h2 class="text-center mb-4">Mes Formations</h2>

            {% if educations %}

                <div class="d-flex justify-content-between">
                    <a href="{{ path('account') }}"><i class="fas fa-backward"></i> Retour au Dashboard</a>
                    <a href="{{ path('education_add') }}" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter une formation</a>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th class="align-middle" scope="col" style="width: auto">Année</th>
                        <th class="align-middle" scope="col" style="width: auto">Titre</th>
                        <th class="align-middle small-d-none" scope="col" style="width: auto">Ecole</th>
                        <th class="align-middle small-d-none" scope="col" style="width: auto">Ville</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for education in educations %}
                        <tr>
                            <td class="align-middle">{{ education.year }}</td>
                            <td class="align-middle">{{ education.title }}</td>
                            <td class="align-middle small-d-none">{{ education.school }}</td>
                            <td class="align-middle small-d-none">{{ education.city }}</td>
                            <td class="align-middle d-flex py-5" style="width: auto"><a class="btn btn-secondary px-3 mx-3" href="{{ path("education_edit", {id: education.id}) }}"><i class="fas fa-edit"></i></a>
                                {{ include('education/_form_delete.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}

            <div class="d-flex justify-content-around my-5">
                <a href="{{ path('education_add') }}" class="btn btn-primary btn-lg"><i class="fas fa-plus"></i> Ajouter une formation</a>
            </div>

            <a href="{{ path('account') }}" class=""><i class="fas fa-backward"></i> Retour au Dashboard</a>

            {% endif %}

        </div>
    </div>
{% endblock %}
