{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="text-center mt-5"> Inscrivez-vous !</h1>

    <section class="w-50 mx-auto">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Inscrivez-vous !') }}</button>
        {{ form_end(form) }}
    </section>

{% endblock %}
