{% extends 'base.html.twig' %}

{% block title %}Mes infos{% endblock %}

{% block body %}

    <div class="container my-5">
        <div class="table-experience">
            <h2 class="text-center">Mes Infos</h2>
            <div class="d-flex justify-content-between mb-5">
                <a href="{{ path('account') }}"><i class="fas fa-backward"></i> Retour au Dashboard</a>
                <a href="{{ path("info_edit", {id: app.user.id}) }}">Mettre à jour mon profil &nbsp; <i class="fas fa-pen"></i></a>
            </div>
            <table class="table">
                <tbody>
                {% if app.user %}
                    <tr>
                        <th scope="row">Prénom</th>
                        <td class="align-middle">{{ app.user.firstname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom</th>
                        <td class="align-middle">{{ app.user.lastname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td class="align-middle">{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Mot de passe</th>
                        <td class="align-middle"><a href="{{ path('account_password') }}">Modifier mon mot de passe</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Téléphone</th>
                        <td class="align-middle">{{ app.user.telephone }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Label CV</th>
                        <td class="align-middle">{{ app.user.labelCv.title ?? 'Label CV à compléter'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Présentation</th>
                        <td class="align-middle">{{ app.user.presentation }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Photo</th>
                        <td class="align-middle"><img width="50px" src="/uploads/pictures/{{ app.user.pictureFilename }}" alt=""></td>
                    </tr>
                    <tr>
                        <th scope="row">Lien Linkedin</th>
                        <td class="align-middle">{{ app.user.linkedin }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Lien Github</th>
                        <td class="align-middle">{{ app.user.github }} </td>
                    </tr>
                    <tr>
                        <th scope="row">lien Twitter</th>
                        <td class="align-middle">{{ app.user.twitter }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Portfolio</th>
                        <td class="align-middle">{{ app.user.portfolio }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Adopté.e</th>
                        <td class="align-middle">
                            {% if app.user.isAdopted is same as true %}
                            oui
                            {% else %}
                            non
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end">
            {{ include('info/_form_delete.html.twig') }}
        </div>
    </div>
{% endblock %}
